# AWS SAM / Lambda
.aws-sam/
samconfig.toml

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.env
.pytest_cache/

# Project Specific
docs/
.aws/
node_modules/
dist/
build/
packaged.yaml
*.zip
# *.txt (commented out to allow requirements.txt)
.aws-sam/
samconfig.toml
